<navigation>
  <div id="breadcrumb">
    {{#each pathNavigation as |path index|}}
      {{#unless (eq index 0)}}
        <i class="material-icons">chevron_right</i>
      {{/unless}}
      {{#if path.route}}
        {{#link-to path.route}}{{path.title}}{{/link-to}}
      {{else}}
        {{path.title}}
      {{/if}}
    {{/each}}
  </div>

  <div {{action 'toggleMenu' instance}} id="btn-sandwich">
		<i class="material-icons">menu</i>
  </div>

{{#if menuVisible}}
  <div id="menu">
    {{#each level1Navigation as |path|}}
      {{#if path.route}}
        {{#link-to path.route}}{{path.title}}{{/link-to}}
      {{else}}
        <i class="material-icons">chevron_right</i> {{path.title}}
      {{/if}}
    {{/each}}

	  {{#if session.isAuthenticated}}
	    <section id="user-context">
		    <i class="material-icons">account_circle</i> {{user.forename}} {{user.surname}}
		  </section>
	    <a {{action 'invalidateSession'}}>Logout</a>
	  {{else}}
	    {{#link-to 'login'}}Login{{/link-to}}
	  {{/if}}
  </div>
{{/if}}

</navigation>
{{yield}}
