<navigation>
  <section id="user-context" style="float:left;">
    <p>{{user.forename}} {{user.surname}}</p>
  </section>
  {{#link-to 'protected.dashboard'}}Dashboard{{/link-to}}
  {{#if session.isAuthenticated}}
    <a {{action 'invalidateSession'}}>Logout</a>
  {{else}}
    {{#link-to 'login'}}Login{{/link-to}}
  {{/if}}
</navigation>
{{yield}}
