<!--  start date and start time -->
{{#if showDate}}
  <div class=row-DateAndTime>
    <button class="showDate-button btn waves-effect waves-light" {{action "showStartDatePicker"}}><i class="material-icons center">event</i></button>

    <div class="date-field inputField__spacing input-field">
      {{datum-picker
          id="date_start"
          value=(readonly model.entryInstance.date_start)
          onChange=(action 'updateStartDate')
          onOpen=(action 'setStartDateRange')
          flatpickrRef=startDatePickerRef
          enableTime=false
          dateFormat='d.m.Y'
          locale='de'
          model=model }}
      <label for="date_start" class="active clickable-element" >Startdatum</label>
    </div>

    <button class="showTime-button btn waves-effect waves-light {{startTimeButtonColor}}" {{action "toggleStartTimeElement"}}><i class="material-icons center">{{startTimeIconState}}</i></button>

    {{#if showStartTime}}
    <div class="date-field inputField__spacing input-field">
      {{time-picker
          id="startTime"
          value=(readonly model.entryInstance.date_start)
          onChange=(action 'updateStartTime')
          onClose=(action 'testStartTimeRange')
          flatpickrRef=startTimePickerRef
          noCalendar=true
          enableTime=true
          minuteIncrement=5
          time_24hr=true
          dateFormat='H:i \U\h\r'}}
      <label for="startTime" class="{{if model.entryInstance.has_time_start "active" }} clickable-element">Startzeit</label>
    </div>
    {{/if}}
  </div>

  <!--  end date and end time -->
  <div class=row-DateAndTime>
    <button class="showDate-button btn waves-effect waves-light" {{action "showEndDatePicker"}}><i class="material-icons center">event</i></button>

    <div class="date-field inputField__spacing input-field">
      <div class="{{endDateStyle}}">
        {{datum-picker
            id="date_end"
            value=(readonly model.entryInstance.date_end)
            onChange=(action 'updateEndDate')
            onOpen=(action 'setEndDateRange')
            flatpickrRef=endDatePickerRef
            enableTime=false
            altInput=false
            dateFormat='d.m.Y'
            locale='de'
            model=model }}
      </div>
      <label for="date_end" class="{{sameDayLabelStyle}} clickable-element" > Gleicher Tag </label>
      <label for="date_end" class="active clickable-element" >Enddatum</label>
    </div>

    <button class="showTime-button btn waves-effect waves-light {{endTimeButtonColor}}" {{action "toggleEndTimeElement"}}><i class="material-icons center">{{endTimeIconState}}</i></button>

    {{#if showEndTime}}
    <div class="date-field inputField__spacing input-field">
      {{time-picker
          id="endTime"
          value=(readonly model.entryInstance.date_end)
          onChange=(action 'updateEndTime')
          onClose=(action 'testEndTimeRange')
          flatpickrRef=endTimePickerRef
          noCalendar=true
          enableTime=true
          minuteIncrement=5
          time_24hr=true
          dateFormat='H:i \U\h\r'}}
      <label for="endTime" class="{{if model.entryInstance.has_time_end "active" }} clickable-element">Endzeit</label>
    </div>
    {{/if}}
  </div>
{{/if}}
