<ul class="entryDetail">
  {{#each attr as |attribute|}}
    {{#if (hasAttribute (get model attribute.name))}}
      {{#unless attribute.hide}}
        <li>
        <span class="entryDetail__meta">{{attribute.name}}:</span>
        <span>
          {{#if (eq attribute.type "date")}}
            {{format-date (get model attribute.name)}}
          {{else if (eq attribute.name "mail")}}
            <a href="mailto:{{get model attribute.name}}">{{get model attribute.name}}</a>
          {{else}}
            {{get model attribute.name}}
          {{/if}}
        </span>
        </li>
      {{/unless}}
    {{/if}}
  {{/each}}

  {{#if (hasAttribute model.category)}}
  <li>
    <span class="entryDetail__meta">Kategorie:</span>
    <span>{{get model.category "title"}}</span>
  </li>
  {{/if}}

  {{#if (hasAttribute model.category)}}
  <li>
    <span class="entryDetail__meta">Unterkategorie:</span>
    <span>{{get model.subCategory "title"}}</span>
  </li>
  {{/if}}

  {{#if (hasAttribute model.locations)}}
    <h2>Ort</h2>
    <li>
    {{#each model.locations as |location|}}
      {{entry-detail model=location}}
    {{/each}}
    </li>
  {{/if}}
  {{#if (hasAttribute model.contactInfos)}}
    <h2>Kontaktinformation</h2>
    <li>
    {{#each model.contactInfos as |contactInfo|}}
      {{entry-detail model=contactInfo}}
    {{/each}}
    </li>
  {{/if}}

  {{#if model.annotations}}
    <h2>Anmerkung</h2>
    <li class="annotationArea">
    {{#each model.annotations as |annotation|}}
      {{annotation-tag instance=annotation}}
    {{/each}}
    </li>
  {{/if}}
  {{#if (hasAttribute model.state)}}
  <li class="nowrap">
  <span class="entryDetail__meta">Status Ändern:</span>
    {{forms/states-form instance=model}}
  </li>
  {{/if}}
  {{yield}}
</ul>
