<ul class="entryDetail">
  {{#each attr as |attribute|}}
    {{#if (get model attribute.name)}}
      <li>
      <span class="entryDetail__meta">{{attribute.name}}:</span>
      <span>
        {{#if (eq attribute.type "date")}}
          {{format-date (get model attribute.name)}}
        {{else}}
          {{get model attribute.name}}
        {{/if}}
      </span>
      </li>
    {{/if}}
  {{/each}}
    <li>
    <span class="entryDetail__meta">Status ändern:</span>
    <select class="browser-default entryDetail__inlineInput" onchange={{action "setStatus" value="target.value"}}>
      {{#each states as |state index|}}
        {{#if (eq state (get model "state"))}}
          <option selected value="{{index}}">{{state}}</option>
        {{else}}
          <option value="{{index}}">{{state}}</option>
        {{/if}}
      {{/each}}
    </select>
  </li>
  {{yield}}
</ul>

