<div class="entry-tile" {{action 'loadItem' entryItem}} {{action 'loadOptionsMenu' entryItem on="contextMenu"}}>
	<div class="image">
		<h3 class="title">
			{{entryItem.title}}
		</h3>
	</div>
	<article>
		<p>
			{{entryItem.description}}
		</p>
	</article>
	Users:
	{{#each entryItem.users as |user|}}
	    <li>Hello, {{user.email}}!</li>
	  {{/each}}
</div>

{{yield}}
