{{yield}}
<li>
  <a {{action 'navigateToSingle' instance}} class="entryList__nav">
    <h4 class="title">{{instance.title}}</h4>
    <span class="icon"><i class="material-icons">navigate_next</i></span>
  </a>
    <div class="entryList__attributes">
        {{#each attributesFormatted as |attribute|}}
          {{#if (eq attribute.name "annotations")}}
            {{#each attribute.value as |annotation|}}
               <p class="item item--annotation">{{annotation.title}}</p>
            {{/each}}
          {{else}}
            {{#if attribute.shouldFormatAsDate }}
              <p class="item"><span class="meta">{{attribute.name}}:</span>{{format-date attribute.value}}</p>
            {{else}}
              <p class="item"><span class="meta">{{attribute.name}}:</span>{{attribute.value}}</p>
            {{/if}}
          {{/if}}
        {{/each}}
    </div>
</li>