{{outlet}}

<form {{action 'save' on='submit'}}>
  <div class="inputField__spacing input-field">
    {{input value=model.entryInstance.title id="title" type="text" class="validate" required="required"}}
    <label for="title" class="{{if model.entryInstance.title "active" }}">Titel</label>
  </div>

  <div class="inputField__spacing input-field">
    {{input value=model.entryInstance.description id="description" type="text" class="validate" maxlength="150" required="required"}}
    <label for="description" class="{{if model.entryInstance.description "active" }}">Beschreibung</label>
  </div>

  {{#if showDate}}
  <div class="inputField__spacing input-field">
    <label for="date" class="active">Datum</label>
    {{input value=model.entryInstance.date id="date" type="date" required="required"}}
  </div>
  {{/if}}

  <div class="inputField__spacing">
    <label>Übergeordnete Orga</label>
    <select class="browser-default" onchange={{action "selectParent" value="target.value"}}>
      <option value="-1">Keine übergeordnete Orga</option>
      {{#each model.orgas as |orga|}}
        {{#if (eq orga.id model.entryInstance.parentOrga.id)}}
          <option selected value="{{orga.id}}">{{orga.title}}</option>
        {{else}}
          <option value="{{orga.id}}">{{orga.title}}</option>
        {{/if}}
      {{/each}}
    </select>
    </div>

  <div class="inputField__spacing">
    <label>Kategorie</label>
    {{forms/categories-form instance=model.entryInstance.category}}
  </div>

  <h2>Kontaktinformationen</h2>
  <div class="inputField__spacing">
    {{forms/contact-info-form instance=model.contactInfoInstance}}
  </div>

  <h2>Ort</h2>
  <div class="inputField__spacing">
    {{forms/location-form instance=model.locationInstance}}
  </div>

  <h2>Anmerkungen</h2>
   <div class="inputField__spacing input-field">
    {{input value=model.annotationInstance.title id="annotation" type="text" class="validate"}}
    <label for="annotation" class="{{if model.annotationInstance.title "active" }}">Anmerkung</label>
  </div>

  <button class="btn waves-effect waves-light" type="submit" style="margin-top:2em;">Save</button>
</form>

