{{yield}}
<li>
  <div class="entryList__icon">
    <span class="entry-icon entry-icon--{{instance.modelName}} {{stateCSSClass}}"></span>
  </div>
  <div class="entryList__content">
    <a {{action 'navigateToSingle' instance}} class="entryList__nav">
      <h4 class="title">{{instance.title}}</h4>
      <span class="icon"><i class="material-icons">navigate_next</i></span>
    </a>
    <div class="entryList__attributes">
      {{#each attributesFormatted as |attribute|}}
        {{#if (eq attribute.name "annotations")}}
          {{#each attribute.value as |annotation|}}
            {{annotation-tag instance=annotation}}
          {{/each}}
        {{else}}
          {{#if attribute.shouldFormatAsDate }}
            <p class="item"><span class="meta">{{attribute.name}}:</span>{{format-date attribute.value}}</p>
          {{else if (eq attribute.name "category")}}
            <p class="item">
              {{get instance.category "title"}}
              {{#if instance.subCategory}}
              <i class="material-icons">navigate_next</i>{{get instance.subCategory "title"}}
              {{/if}}
            </p>
          {{else}}
            <p class="item"><span class="meta">{{attribute.name}}:</span>{{attribute.value}}</p>
          {{/if}}
        {{/if}}
      {{/each}}
    </div>
  </div>

</li>
