<ul class="entryDetail">
  {{#each attr as |attribute|}}
    {{#if (get model attribute.name)}}
      <li>
      <span class="entryDetail__meta">{{attribute.name}}:</span>
      <span>
      Type{{attribute.type}}
        {{#if (eq attribute.type "date")}}
          {{format-date (get model attribute.name)}}
        {{else}}
          {{get model attribute.name}}
        {{/if}}
      </span>
      </li>
    {{/if}}
  {{/each}}
    <li>
    <span class="entryDetail__meta">Status ändern:</span>
      {{states-form
        instance=newOrgaInstance.stateTransition
        selectedState=model.state
        onChange=(action "setNewStateTransistion")}}
  </li>
  {{yield}}
</ul>

