<div class="input-field">
  {{input value=instance.title id="title" type="text" class="validate"}}
  <label for="title">Titel</label>
</div>

<div class="input-field">
 {{input value=instance.description id="description" type="text" class="validate"}}
 <label for="description" class="active">Beschreibung</label>
</div>

{{yield}}

<div style="margin-top: 1em; color: black;">
  <label>Übergeordnete Orga</label>
  <select class="browser-default" onchange={{action "selectParent" value="target.value"}}>
    <option value="-1">Keine übergeordnete Orga</option>
    {{#each orgas as |orga|}}
      <option value="{{orga.id}}">{{orga.title}}</option>
    {{/each}}
  </select>
</div>

<div style="margin-top: 1em; color: black;">
  <label>Kategorie</label>
  {{categories-form instance=instance.category}}
</div>

<div style="margin-top: 1em; color: black;">
  <label>Status</label>
  {{states-form instance=instance.stateTransition}}
</div>

<h2>Kontaktinformationen</h2>
<div style="margin-top: 1em; color: black;">
  {{contact-info-form instance=instance.contactInfos}}
</div>

<h2>Ort</h2>
<div style="margin-top: 1em; color: black;">
  {{location-form instance=instance.locations}}
</div>

<h2>Anmerkungen</h2>
 <div class="input-field">
 {{#each annotations as |annotation|}}
    {{input value=annotation.title id="annotation" type="text" class="validate"}}
    <label for="annotation">Anmerkung</label>
  {{/each}}
</div>