<ul class="entryDetail">
  {{#each attr as |attribute|}}
    {{#if (has-attribute (get model attribute.name))}}
      {{#unless attribute.hide}}
        <li>
        <span class="entryDetail__meta">{{attribute.name}}:</span>
        <span>
          {{#if (eq attribute.type "date")}}
           {{format-date-absolute (get model attribute.name)}} ({{format-date-relative (get model attribute.name)}})
          {{else if (eq attribute.name "mail")}}
            <a href="mailto:{{get model attribute.name}}">{{get model attribute.name}}</a>
          {{else}}
            {{get model attribute.name}}
          {{/if}}
        </span>
        </li>
      {{/unless}}
    {{/if}}
  {{/each}}

  {{#if (has-attribute model.category)}}
  <li>
    <span class="entryDetail__meta">Kategorie:</span>
    <span>{{get model.category "title"}}</span>
  </li>
  {{/if}}

  {{#if (has-attribute model.category)}}
  <li>
    <span class="entryDetail__meta">Unterkategorie:</span>
    <span>{{get model.subCategory "title"}}</span>
  </li>
  {{/if}}

  {{#if (has-attribute model.locations)}}
    <h2>Ort</h2>
    <li>
    {{#each model.locations as |location|}}
      {{entry-detail model=location}}
    {{/each}}
    </li>
  {{/if}}
  {{#if (has-attribute model.contactInfos)}}
    <h2>Kontaktinformation</h2>
    <li>
    {{#each model.contactInfos as |contactInfo|}}
      {{entry-detail model=contactInfo}}
    {{/each}}
    </li>
  {{/if}}

  {{#if model.annotations}}
    <h2>
      {{#if (eq model.annotations.length 1)}}
      Anmerkung
      {{else}}
      Anmerkungen
      {{/if}}
    </h2>
    {{#each model.annotations as |annotation|}}
      {{annotation-tag instance=annotation}}
    {{/each}}
  {{/if}}
  {{#if (has-attribute model.active)}}
  <h2>Status</h2>
  <li class="nowrap">
  <span class="entryDetail__meta">Status ändern:</span>
    {{forms/states-form instance=model}}
  </li>
  {{/if}}
  {{yield}}
</ul>
