{{outlet}}

<form {{action 'save' on='submit'}}>
  <div class="inputField__spacing input-field">
    {{input value=model.entryInstance.title id="title" type="text" class="validate" required="required"}}
    <label for="title" class="{{if model.entryInstance.title "active" }}">Titel</label>
  </div>

  <div class="inputField__spacing input-field">
    {{textarea value=model.entryInstance.description id="description" class="materialize-textarea validate" maxlength="350" required="required"}}
    <label for="description" class="{{if model.entryInstance.description "active" }}">Beschreibung</label>
  </div>

  <!--  start date and start time -->
  {{#if showDate}}
    <div class=row-DateAndTime>
      <div class="date-field inputField__spacing input-field">
        {{ember-flatpickr
            id="startDate"
            value=(readonly dateStartObject)
            onChange=(action 'updateStartDate')
            enableTime=false
            dateFormat='d.m.Y'}}
        <label for="startDate" class="{{if model.entryInstance.date_start "active" }}" >Startdatum</label>
      </div>

      <button class="showTime-button btn waves-effect waves-light {{startTimeButtonColor}}" {{action "toggleStartTimeElement"}}><i class="material-icons center">{{startTimeIconState}}</i></button>

      {{#if showStartTime}}
      <div class="date-field inputField__spacing input-field">
        {{ember-flatpickr
            id="startTime"
            value=(readonly dateStartObject)
            onChange=(action 'updateStartTime')
            noCalendar=true
            enableTime=true
            minuteIncrement=5
            time_24hr=true
            dateFormat='H:i \U\h\r'}}
        <label for="startTime" class="{{if model.entryInstance.date_start "active" }}">Startzeit</label>
      </div>
      {{/if}}
    </div>
  {{/if}}

  <!--  end date and end time -->
  {{#if showDate}}
    <div class=row-DateAndTime>
      <div class="date-field inputField__spacing input-field">
        {{ember-flatpickr
            id="endDate"
            value=(readonly dateEndObject)
            onChange=(action 'updateEndDate')
            enableTime=false
            dateFormat='d.m.Y'}}
        <label for="endDate" class="{{if model.entryInstance.date_end "active" }}" >Enddatum</label>
      </div>

      <button class="showTime-button btn waves-effect waves-light {{endTimeButtonColor}}" {{action "toggleEndTimeElement"}}><i class="material-icons center">{{endTimeIconState}}</i></button>

      {{#if showEndTime}}
      <div class="date-field inputField__spacing input-field">
        {{ember-flatpickr
            id="endTime"
            value=(readonly dateEndObject)
            onChange=(action 'updateEndTime')
            noCalendar=true
            enableTime=true
            minuteIncrement=5
            time_24hr=true
            dateFormat='H:i \U\h\r'}}
        <label for="endTime" class="{{if model.entryInstance.date_end "active" }}">Endzeit</label>
      </div>
      {{/if}}
    </div>
  {{/if}}

  <div class="inputField__spacing">
    <label>Übergeordnete Orga</label>
    <select class="browser-default" onchange={{action "selectParent" value="target.value"}}>
      <option value="-1">Keine übergeordnete Orga</option>
      {{#each model.orgas as |orga|}}
        {{#if (eq orga.id model.entryInstance.parentOrga.id)}}
          <option selected value="{{orga.id}}">{{orga.title}}</option>
        {{else}}
          <option value="{{orga.id}}">{{orga.title}}</option>
        {{/if}}
      {{/each}}
    </select>
    </div>

  <div class="inputField__spacing">
    <label>Kategorie (Pflichtfeld)</label>
    {{forms/categories-form instance=model.entryInstance.category showSubCategory=false}}
  </div>

  <div class="inputField__spacing">
    <label>Unterkategorie</label>
    {{forms/categories-form instance=model.entryInstance.subCategory showSubCategory=true}}
  </div>

  <h2>Kontaktinformationen</h2>
  <div class="inputField__spacing">
    {{forms/contact-info-form instance=model.contactInfoInstance}}
  </div>

  <h2>Ort</h2>
  <div class="inputField__spacing">
    {{forms/location-form instance=model.locationInstance}}
  </div>

  <h2>Anmerkungen</h2>
  <li class="annotationArea">
    {{#each model.entryInstance.annotations as |annotation|}}
      {{annotation-tag instance=annotation onDelete=(action "deleteAnnotation")}}
    {{/each}}
    {{#unless model.entryInstance.annotations}}
      <p class="annotationArea__error">Keine Anmerkungen</p>
    {{/unless}}
    <div class="annotationNew">
      {{forms/annotation-new onAdd=(action "addAnnotation") existingAnnotations=model.entryInstance.annotations}}
    </div>
  </li>

  <section class="entryForm__actionFooter">
    <button class="btn waves-effect waves-light" type="submit">Speichern</button>
    {{#if model.entryInstance.id}}
      <button class="btn waves-effect waves-light red" {{action "deleteEntry"}}><i class="material-icons left">delete</i>Löschen</button>
    {{/if}}
  </section>

</form>
