{{yield}}
{{#if (eq instance.title "ROOT-ORGA")}}{{else}}
    <li>
      <a {{action 'navigateToSingle' instance}} class="entryList__nav">
        <h4 class="title">{{instance.title}}</h4>
        <span class="icon"><i class="material-icons">navigate_next</i></span>
      </a>
      <!--@todo-->
      {{#if false}}
        <div class="entryList__attributes">
            {{#each attributes as |attribute|}}
              <i>{{get instance attribute}},</i>
            {{/each}}
        </div>
       {{/if}}
        <div class="entryList__attributes">
          <p class="item"><span class="meta">Status:</span>{{instance.state}}</p>
          {{#if instance.annotations}}
            {{#each instance.annotations as |annoation|}}
              <p class="item"><span class="meta">Annotation:</span>{{annoation.title}}</p>
            {{/each}}
          {{else}}
              <p class="item"><span class="meta">Category:</span>{{instance.category}}</p>
          {{/if}}
        </div>
    </li>
{{/if}}