<div class="list-pagination">
  <div class="list-pagination__info">
    {{ numItems }} Einträge (Seite {{ currentPage }} von {{ numPages }})
  </div>

  {{#if (gt numPages 1)}}
    <div class="list-pagination__navigation">
      {{#each (range 1 (inc numPages)) as |pageNumber|}}
        <a href="" {{action "goto" pageNumber}} class="{{if (eq pageNumber currentPage) 'active' 'inactive'}}">{{ pageNumber }}</a>
      {{/each}}
    </div>
  {{/if}}

  <select class="list-pagination__pagesize browser-default" onchange={{action "setPageSize" value="target.value"}}>
    <option value="5">5 pro Seite</option>
    <option value="15">15 pro Seite</option>
    <option value="30">30 pro Seite</option>
    <option value="1000">Alle</option>
  </select>

</div>
