{{yield}}

<div class="input-field">
  <label for="street" class="{{if instance.street "active" }}">Street</label>
  {{input value=instance.street id="street" type="text" class="validate"}}
</div>
<div class="input-field">
  <label for="number" class="{{if instance.number "active" }}">Number</label>
  {{input value=instance.number id="number" type="text" class="validate"}}
</div>
<div class="input-field">
  <label for="city" class="{{if instance.city "active" }}">City</label>
  {{input value=instance.city id="city" type="text" class="validate"}}
</div>