{{yield}}
 <div class="navigationSidebar mainCard">
  <div class="mainCard__header">
    {{navigation-breadcrumb}}
  </div>
  <div>
    <ul class="navigationSidebar__navContainer">
      <li class="navigationSidebar__navItem">
        {{#link-to 'protected.dashboard'}}Dashboard{{/link-to}}
      </li>
      <li class="navigationSidebar__navItem">
        {{#link-to 'protected.todos'}}Todos{{/link-to}}
        <span class="navigationSidebar__navItemMeta">{{model.todos.length}}</span>
      </li>
      <li class="navigationSidebar__navItem">
        {{#link-to 'protected.orgas'}}Orgas{{/link-to}}
        <span class="navigationSidebar__navItemMeta">{{model.orgas.length}}</span>
      </li>
      <li class="navigationSidebar__navItem">
        {{#link-to 'protected.events'}}Events{{/link-to}}
        <span class="navigationSidebar__navItemMeta">{{model.events.length}}</span>
      </li>
    </ul>
  </div>
</div>