{{yield}}
 <div class="navigationSidebar mainCard">
  <div class="mainCard__header">
    {{navigation-breadcrumb}}
  </div>
  <div>
    <ul class="navigationSidebar__navContainer">
      {{#each level1Navigation as |path|}}
        <li class="navigationSidebar__navItem level{{path.level}}">
          {{#link-to path.route}}{{path.title}}{{/link-to}}
          {{#if path.hint}}
            <span class="navigationSidebar__navItemMeta">{{path.hint}}</span>
          {{/if}}
        </li>
      {{/each}}
    </ul>

    <div class="navigationSidebar__footer">
      <span class="navigationSidebar__footerItem" title="Der Name des aktuell eingeloggten Nutzers.">
        <i class="material-icons spacing-right">account_circle</i>{{model.user.forename}}&nbsp;{{model.user.surname}}
      </span>
      <a {{action 'invalidateSession'}} class="cursor navigationSidebar__footerItem">
        Logout<i class="material-icons spacing-left">exit_to_app</i>
      </a>
    </div>

  </div>
</div>
