{{outlet}}

<div class="row">
  <div class="col s12 m8 push-m2">
    <div class="mainCard">
      <div class="mainCard__header mainCard__headerLight">
        <h2 class="mainCard__headerTitle">Neue Organisation anlegen</h2>
        <a href="#" {{ action 'goBack' }} class="mainCard__headerAction"><i class="material-icons">chancel</i></a>
      </div>
      <div>
        <form {{action 'save' on='submit'}}>
          <div class="input-field">
            {{input value=newOrgaInstance.title id="title" type="text" class="validate"}}
            <label for="title">Titel</label>
          </div>
          <div class="input-field">
            {{input value=newOrgaInstance.description id="description" type="text" class="validate"}}
            <label for="description">Beschreibung</label>
          </div>

          <div style="margin-top: 1em; color: black;">
            <label>Übergeordnete Orga</label>
            <select class="browser-default" onchange={{action "selectParent" value="target.value"}}>
              <option value="-1">Keine übergeordnete Orga</option>
              {{#each orgas as |orga|}}
              <option value="{{orga.id}}">{{orga.title}}</option>
              {{/each}}
            </select>
          </div>

          <div style="margin-top: 1em; color: black;">
            <label>Kategorie</label>
            {{categories-form instance=newOrgaInstance.category}}
          </div>

          <div style="margin-top: 1em; color: black;">
            <label>Status</label>
            {{states-form instance=newOrgaInstance.stateTransition}}
          </div>

          <h2>Kontaktinformationen</h2>
          <div style="margin-top: 1em; color: black;">
            {{contact-info-form instance=contactInfoInstance}}
          </div>

          <h2>Ort</h2>
          <div style="margin-top: 1em; color: black;">
            {{location-form instance=locationInstance}}
          </div>

          <h2>Anmerkungen</h2>
           <div class="input-field">
            {{input value=annotationInstance.title id="annotation" type="text" class="validate"}}
            <label for="annotation">Anmerkung</label>
          </div>

          <button class="btn waves-effect waves-light" type="submit" style="margin-top:2em;">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
