<div class="row">
    <div class="col s12 m6 push-m3">
    <h3>Create new Orga</h3>

    <form {{action 'save' on='submit'}}>

      <div class="input-field">
        {{input value=title id="title" type="text" class="validate"}}
        <label for="title">Titel</label>
      </div>

      <div class="input-field">
        {{input value=description id="description" type="text" class="validate"}}
        <label for="description">Description</label>
      </div>
      <div style="margin-top: 1em; color: black;">
        <label>Übergeordnete Orga</label>
        <select class="browser-default" onchange={{action "selectParent" value="target.value"}}>
          <option value="" disabled selected>Choose your option</option>
          {{#each orgas as |orga|}}
            <option value="{{orga.id}}">{{orga.title}}</option>
          {{/each}}
        </select>
      </div>
      <button class="btn waves-effect waves-light" type="submit" style="margin-top:2em;">Save</button>
    </form>
  </div>
</div>