{{yield}}
<select class="browser-default" onchange={{action "selectCategory" value="target.value"}}>
  {{#unless instance}}
    <option selected value="-1">Bitte Kategorie auswählen</option>
  {{/unless}}
  {{#each possibleCategories as |category|}}
    {{#if (eq instance.id category.id)}}
      <option selected value="{{category.id}}">{{category.title}}</option>
    {{else}}
      <option value="{{category.id}}">{{category.title}}</option>
    {{/if}}
  {{/each}}
</select>