{{yield}}

<div class="input-field">
  <label for="mail" class="{{if instance.mail "active" }}">E-Mail</label>
  {{input value=instance.mail id="mail" type="email" class="validate"}}
</div>
<div class="input-field">
  <label for="phone" class="{{if instance.phone "active" }}">Telefon</label>
  {{input value=instance.phone id="phone" type="text" class="validate"}}
</div>
<div class="input-field">
  <label for="contactPerson" class="{{if instance.contactPerson "active" }}">Kontaktperson</label>
  {{input value=instance.contactPerson id="contactPerson" type="text" class="validate" required="required"}}
</div>