<div id="dashboard">
  <div class="row">
      <div class="col s12 m6">
        <div class="searchCard">
          {{#link-to "protected.search"}}<i class="material-icons">search</i>{{/link-to}}
        </div>
      </div>
      <div class="col s12 m6">
        <div class="mainCard">
          <div class="mainCard__header">
            <h2 class="mainCard__headerTitle">{{#link-to "protected.todos"}}Todos{{/link-to}}</h2>
            <a href="#" class="mainCard__headerAction"><i class="material-icons">notifications</i></a>
          </div>
          <div>
            {{entry-list instances=model.user.orgas limit=5 attributes=model.attributes}}
            {{#link-to "protected.todos"}}Alle Todos...{{/link-to}}
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="mainCard">
          <div class="mainCard__header">
            <h2 class="mainCard__headerTitle">{{#link-to "protected.orgas"}}Organisationen ({{model.user.orgas.length}}){{/link-to}}</h2>
            {{#link-to "protected.neworga" class="mainCard__headerAction"}}<i class="material-icons">add</i>{{/link-to}}
          </div>
          <div>
            {{entry-list instances=model.user.orgas limit=5 attributes=model.attributes}}
            {{#link-to "protected.orgas"}}Alle Orgas...{{/link-to}}
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="mainCard">
          <div class="mainCard__header">
            <h2 class="mainCard__headerTitle">{{#link-to "protected.events"}}Events ({{model.events.length}}){{/link-to}}</h2>
            {{#link-to "protected.newevent" class="mainCard__headerAction"}}<i class="material-icons">add</i>{{/link-to}}
          </div>
          <div>
              {{entry-list instances=model.events limit=5}}
              {{#link-to "protected.events"}}Alle Events...{{/link-to}}
          </div>
        </div>
      </div>
  </div>
</div>
{{outlet}}
