<div id="dashboard">
  {{#link-to "protected.search"}}Suche{{/link-to}}
  <div class="row">
      <div class="col s12 m6">
        <div class="afeefaCard">
          <div class="afeefaCard__header">
            <h2 class="afeefaCard__headerTitle">Todos</h2>
            <a href="#" class="afeefaCard__headerAction"><i class="material-icons">notifications</i></a>
          </div>
          <div>
            {{entry-list instances=model.user.orgas limit=5 attributes=model.attributes}}
            {{#link-to "protected.todos"}}Alle Todos...{{/link-to}}
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="afeefaCard">
          <div class="afeefaCard__header">
            <h2 class="afeefaCard__headerTitle">Organisationen ({{model.user.orgas.length}})</h2>
            {{#link-to "protected.neworga" class="afeefaCard__headerAction"}}<i class="material-icons">add</i>{{/link-to}}
          </div>
          <div>
            {{entry-list instances=model.user.orgas limit=5 attributes=model.attributes}}
            {{#link-to "protected.orgas"}}Alle Orgas...{{/link-to}}
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="afeefaCard">
          <div class="afeefaCard__header">
            <h2 class="afeefaCard__headerTitle">Events ({{model.events.length}})</h2>
            {{#link-to "protected.newevent" class="afeefaCard__headerAction"}}<i class="material-icons">add</i>{{/link-to}}
          </div>
          <div>
              {{entry-list instances=model.events limit=5}}
              {{#link-to "protected.events"}}Alle Events...{{/link-to}}
          </div>
        </div>
      </div>
  </div>
</div>
{{outlet}}
