{{outlet}}

<div class="row">
  <div class="col s12 m8 push-m2">
    <div class="mainCard">
      <div class="mainCard__header mainCard__headerLight">
        <h2 class="mainCard__headerTitle"> {{titleCached}}</h2>
        {{#link-to "protected.editevent" model.id class="mainCard__headerAction"}}
          <i class="material-icons">mode_edit</i>
        {{/link-to}}
      </div>
      <div>
        {{entry-detail model=model}}
        <h2>Veranstalter:</h2>
        {{#if model.parentOrga}}
          <ul class="entryList">
            {{entry-list-item instance=model.parentOrga}}
          </ul>
        {{else}}
          Es wurde kein Veranstalter angegeben
        {{/if}}
      </div>
    </div>
  </div>
</div>
