{{outlet}}

<div class="row">
  <div class="col s12 m8 push-m2">
    <div class="mainCard">
      <div class="mainCard__header mainCard__headerLight">
        <h2 class="mainCard__headerTitle">Anzeigen von: {{titleCached}}</h2>
        {{#link-to "protected.editorga" model.id class="mainCard__headerAction"}}<i class="material-icons">mode_edit</i>{{/link-to}}
      </div>
      <div>
        {{entry-detail model=model}}
        <h2>Untergeordnete Orgas:</h2>
        {{#if model.subOrgas}}
          {{entry-list instances=model.subOrgas}}
        {{else}}
          Es existieren keine Orgas
        {{/if}}
      </div>
    </div>
  </div>
</div>
