<h1>Experimental playground</h1>

{{paper-input flex=30 label="Name des Projekts" value=name onChange=(action (mut name))}}

{{paper-input textarea=true block=true label="Beschreibung" maxlength=150 passThru=(hash rows=5)
   value=desc onChange=(action (mut desc))}}

{{#paper-checkbox value=value1 onChange=(action (mut value1))}}
   f端r Kinder geeignet
{{/paper-checkbox}}

{{#paper-checkbox value=value1 onChange=(action (mut value1))}}
   Unterst端tzer gesucht
{{/paper-checkbox}}

{{#paper-checkbox value=value1 onChange=(action (mut value1))}}
   WLAN verf端gbar
{{/paper-checkbox}}

{{#paper-checkbox value=value1 onChange=(action (mut value1))}}
   gesch端tzter Raum
{{/paper-checkbox}}

{{paper-button raised=true label="Speichern"}}

{{#paper-card}}
  {{#paper-card-title}}
    {{#paper-card-title-text}}
      <h2>{{name}}</h2>
      <p>{{desc}}</p>
    {{/paper-card-title-text}}
    {{#paper-card-title-media}}
      <img class="md-media-lg" src="http://lorempixel.com/400/200/people">
  {{/paper-card-title-media}}
  {{/paper-card-title}}
  <div class="md-actions" layout="row" layout-align="end center">
    {{#paper-button}}Anrufen{{/paper-button}}
    {{#paper-button}}Nachrichte senden{{/paper-button}}
  </div>
{{/paper-card}}

{{outlet}}
