<h1>Experimental playground</h1>

<div layout="" layout-sm="column">
    {{paper-input flex=30 label="Name" value=name onChange=(action (mut name))}}
    {{paper-input flex=30 label="E-mail" type="email" value=email onChange=(action (mut email))}}
    {{paper-input flex=40 label="Password" type="password" value=password onChange=(action (mut password))}}
  </div>
  <div layout="" layout-sm="column">
    {{paper-input flex=true label="Submission date" type="date" value=date onChange=(action (mut date))}}
    {{paper-input flex=true label="Company (disabled)" type="text" value="Google" disabled=true onChange=(action (mut foo))}}
  </div>

  {{paper-input textarea=true block=true label="Biography" maxlength=150 passThru=(hash rows=5)
    value=biography onChange=(action (mut biography))}}
  <p>Name: {{name}}</p>
  <p>Email: {{email}}</p>

  <h3>Input Errors</h3>
  <p>
    {{paper-input
      label="Address"
      value=address
      onChange=(action (mut address))
      required=true
      errorMessages=(hash
        required="Address is required."
      )
    }}
    {{paper-input
      type="number"
      label="Maximum Value"
      value=maxNumber
      onChange=(action (mut maxNumber))
      max="5"
      errorMessages=(hash
        max="Enter 5 or less."
      )
    }}
    {{paper-input
      type="number"
      label="Minimum Value"
      value=minNumber
      onChange=(action (mut minNumber))
      min="1"
      errorMessages=(hash
        min="Enter at least 1."
      )
    }}
    {{paper-input
      label="Maximum Character Length"
      value=maxLength
      onChange=(action (mut maxLength))
      required=true
      maxlength=10
      errorMessages=(hash
        maxlength="Maximum length exceeded."
      )
    }}
    {{paper-input
      label="All Constraints"
      value=allConstraints
      onChange=(action (mut allConstraints))
      required=true
      min="2"
      max="10"
      maxlength="2"
      errorMessages=(hash
        maxlength="Max length exceeded."
      )
    }}
    {{paper-input
      label="Required asterisk only"
      value=requiredStyle
      onChange=(action (mut requiredStyle))
      required="style"
    }}
  </p>

  <h3>Icons</h3>
  <p>
    {{paper-input label="Name" value=name onChange=(action (mut name)) icon="person"}}
    {{paper-input placeholder="Phone Number" type="text" value=user.phone onChange=(action (mut user.phone)) icon="phone"}}
    {{paper-input label="Email (no messages)" type="email" value=user.email onChange=(action (mut user.email)) icon="email" required=true hideAllMessages=true}}
    {{paper-input placeholder="Address" type="text" value=user.address onChange=(action (mut user.address)) icon="place"}}
    {{paper-input label="Name on right" type="text" value=name2 onChange=(action (mut name2)) iconRight="person"}}
  </p>











{{paper-input flex=30 label="Name des Projekts" value=name onChange=(action (mut name))}}

{{paper-input textarea=true block=true label="Beschreibung" maxlength=150 passThru=(hash rows=5)
   value=desc onChange=(action (mut desc))}}

{{#paper-checkbox value=value1 onChange=(action (mut value1))}}
   f端r Kinder geeignet
{{/paper-checkbox}}

{{#paper-checkbox value=value1 onChange=(action (mut value1))}}
   Unterst端tzer gesucht
{{/paper-checkbox}}

{{#paper-checkbox value=value1 onChange=(action (mut value1))}}
   WLAN verf端gbar
{{/paper-checkbox}}

{{#paper-checkbox value=value1 onChange=(action (mut value1))}}
   gesch端tzter Raum
{{/paper-checkbox}}

{{paper-button raised=true label="Speichern"}}

{{#paper-card}}
  {{#paper-card-title}}
    {{#paper-card-title-text}}
      <h2>{{name}}</h2>
      <p>{{desc}}</p>
    {{/paper-card-title-text}}
    {{#paper-card-title-media}}
      <img class="md-media-lg" src="http://lorempixel.com/400/200/people">
  {{/paper-card-title-media}}
  {{/paper-card-title}}
  <div class="md-actions" layout="row" layout-align="end center">
    {{#paper-button}}Anrufen{{/paper-button}}
    {{#paper-button}}Nachrichte senden{{/paper-button}}
  </div>
{{/paper-card}}

{{outlet}}
